:root{
    --title: #ff4f6f;
    --subtitle: #ef9919;
    --nav: #adadad;
    --text: #e5e5e5;
    --hover: #34b0be;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    font-size: 16px; /* 1 rem =  10px */
    font-family: 'Rubik', sans-serif;
    background:#fdfdfd;
}


.container{
    margin: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.lil-vector{
    margin-top: 2rem;
    margin-left: 6rem;
}
.lil-vector svg{
    width: 80%;
}

.flex-nav{
    margin-top: 6rem;
    margin-left: 8rem;
    padding-right: 4rem;
    width: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2rem
}

#main-nav{
    width: fit-content;
}

.a-nav{
    width: fit-content;
    font-size: 100%;
    font-weight: 400;
    text-decoration: none;
    color: rgb(61, 58, 58); 
    margin:auto; 
}

.a-nav:hover{
    color: var(--hover); 
    font-weight: 500;  
}

.burger{
    display: none;
}

@media (max-width: 42rem){
    body{
        width: fit-content;
    }

    .lil-vector > svg{
        height: 60%;
        width: 60%;
        margin-left: -4rem; 
    }
    .container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;   
    }
   
     .a-nav{
        display: none;
        color: white;
    } 
    .burger{
       display: block;
       margin-right:-30rem;
       margin-top: 2rem;
    }

    .burger svg{
        width: 130%;
        height: 130%;
    }

    .burger svg :hover{
        box-shadow: 0.1px 0.2px 15px #34b0be;
        cursor: pointer;
    }

}

.hero{
    display: flex;
    height: auto;
    padding: 3rem 0;
    width: 100%;
}

.hero-left{
    width: 50%;
}

.hero-vector {
    position: relative; 
}

.hero-vector svg{
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.hero-vector img{
    height: auto;
    width: 75%;
    position: relative;
    bottom: 0;
    top: -0.6rem;
    left: 8rem;
}

.hero-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 3rem;
}


.hero-intro{
    margin-top: -15rem;
}

.hero-intro h2 {
    width: 90%;
    color: var(--title);
    font-size: 3rem;
    font-weight: 500;

}

.hero-intro h1{
    width: 90%;
    font-size: 6rem;
    font-weight: 500;
    margin-top: -2rem;
}

.icons{
    width: 50%;
    max-width: 30rem;
    height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.icon-box{
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1.5px solid var(--hover);
  display: flex;
  justify-content: center;
  align-items: center;   
}

.icon-box:hover{
    box-shadow: 0.1px 0.2px 15px #34b0be;
    cursor: pointer;
   
}

.line{
    width: 49rem;
    height: 1px;
    background: var(--text);
}

.contact-btn{
    width: 80%;
    max-width: 40rem;
    height: auto;
    padding: 0.5rem 0;
    background-color: var(--title);
    display: flex;
    flex-direction: row;   
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 3rem;
}

.contact-btn:hover{
    box-shadow: 0.1px 0.2px 15px #ff4f6f;
    cursor: pointer;
}

.btn-email{
    margin-left: 6rem;
}

.btn-email svg{
    width: 70%;
}

.contact{
    width: 50%;
    font-size: 2.5rem;
    margin-right: 6rem;
    color: white;
}


@media (max-width: 42rem){

    body{
        width: 100%;
        margin: auto;
    }
    .hero{
        width: 100%;
        flex-direction: column;
        margin: auto;
        padding: 0;
    }

    .hero-left{
        width: 100%;
    }

    .hero-vector > svg{
        width: 95%;
        margin-left: 2rem;
    }
    

    .hero-right{
        margin-top: 3rem;
        width: 100%; 
        height: 40rem;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .hero-intro{
        text-align: center;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    
    .hero-intro h2 {
        width: 100%;
        font-size: 2.9rem;
        
    }
    
    .hero-intro h1{
        font-size: 4.5rem;
    }
    
    .icons{
        width: 40%;
        height: 4rem;
        justify-content: space-around;
        margin-bottom: 1rem;

    }

    .icon-box > svg{
        width: 90%;
        height: 21px;
    }
    
    .icon-box{
      width: 3.5rem;
      height: 3.5rem;   
    }
    
    .line{
        width: 20rem;
        height: 1px;
        top: 24rem;
        left: 7.7rem
    }
    
    .contact-btn{
        margin-top: 1rem;
        width: 35%;
        height: 3.5rem;
        justify-content: space-around;
        padding: 0.5rem;
    }
    
    .btn-email{
        width: 100%;
        margin-right: 2.4rem;

    }
    .btn-email > svg{
        width: 200%;
        margin-left: 1rem;
    }
   
    .contact{
        width: 90%;
        font-size: 1.35rem;
        margin-bottom: 0.2rem;
        color: white;
    }
    

}



.content{
    margin: auto;
    text-align: justify;
    width: 90%;
}

.content h2{
    color: var(--title);
    font-size: 4rem;
    font-weight: 500;
    margin: 4rem 0;
    
}

.box-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
}

.habilidades{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin: auto;
    gap: 3rem;
    overflow: scroll;
}


.skill-box{
    width: 16rem;
    height: 11rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6.3rem;
    font-weight: 500;
    box-shadow: 0.1px 0.2px 9px #e5e5e5;
    color: var(--hover);
}

.line2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 12rem;
    height: 0.7rem;
    background: var(--hover);
    position: relative;
    top: 0.8rem;
    left: -2rem;
}

.box-footer{
    text-align: center;
    font-size: 1.7rem;
}

.about{
    position: relative;
}
.big-vector{
  position: absolute;
  top: -1rem;
  right: -6.5rem;
}

.bio{
    font-size: 3rem;
    line-height: 3.5rem;
    color: var(--nav)
}

.academias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
}

.uvm{
    display: flex;
    flex-direction: column; 
}

.uvm > div > h4{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 3rem;
    color: var(--nav);
    font-weight: 500
}
.uvm > div > p{
    display: flex;
    justify-content: center;
    color: var(--nav);
    font-weight: 400;
    margin-top: 0;
}

.academlo{
    display: flex;
    flex-direction: column;
    margin-top: -3rem; 
}

.academlo > div > h4{
    display: flex;
    justify-content: center;
    margin-top: -1rem;
    font-size: 3rem;
    color: var(--nav);
    font-weight: 500;
}
.academlo > div > p{
    display: flex;
    justify-content: center;
    color: var(--nav);
    font-weight: 400;
    margin-top: 0;
}

.servicios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 8rem;
}

.service-icon{
    width: 17rem;
    height: 17rem;
    background: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 4.5rem;
    box-shadow: 0.1px 0.2px 9px #e5e5e5;
}

.title-service{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 500;

    
}

.service-desc{
    display: flex;
    justify-content: center;
    width: 20rem;
    font-size: 2rem;
    text-align: center;
    color: var(--nav);
}

.portfolio{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3.5rem;
    margin-bottom: 8rem;
    overflow: scroll;
    width: 100%;
    padding: 4rem 0;
    gap: 3rem;
}

.trabajos{
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
    background: white;
    box-shadow: 0.1px 0.2px 15px #cacaca;
    overflow: scroll;
    flex-wrap: ;
}

.img-works{
    width: 22rem;
    height: 16rem;
    overflow: hidden;

}

.trabajos > .img-works > img{
    height: 120%;
    width: 100%;
}

.trabajos:hover{
    box-shadow: 0.1px 0.2px 15px #ff708a;
    cursor: pointer;
}

.subtitle-works{
    margin-top: 0.8rem;
    margin-left: 0.9rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.contactame{
 display: flex;
 justify-content: center;
 gap: 6rem;

}

.contacta{
    width: 21rem;
    height: 22.5rem;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0.1px 0.2px 9px #e5e5e5;
    margin-bottom: 5rem;
}

.contacta:hover{
    box-shadow: 0.1px 0.2px 9px #34b0be;
    cursor: pointer;
}

.title-contact{
    font-size: 1.8rem;
    font-weight: 500;
}

.subtitle-contact{
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--nav);
}

.pie-web{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin: 10rem 0;
}

.pie{
    color: var(--hover);
    text-align: center;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

@media(max-width:42rem){
    .content{
        width: 42rem; 
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    
    .content h2{
        font-size: 3.5rem;
    }
    
    .box-container{
        width: fit-content;
    }
    
    .habilidades{
       width: 100%;
       flex-wrap: nowrap;
       justify-content: flex-start;
       align-items: flex-start;
       gap: 2.5rem;
       overflow: scroll;
       margin-bottom: 7rem;
    }
    
    
    .skill-box{
       width: 10rem;
       height: 7rem;
       font-size: 4rem;
       background: white;
    }
    
    .line2{
       width: 7rem;
       margin-left: 1rem;
       height: 0.4rem;
       top: 0.4rem;

    }
    
    .box-footer{
       font-size: 1.6rem;
    }
   
    .big-vector{
        position: absolute;
        right: -15rem;
        top: -2rem;
        overflow: hidden;
    }
    .big-vector > svg{
      height: 16rem;
    }
    
    .bio{
       font-size: 1.8rem;
       line-height: 1.8rem;
    }
    
    .about p{
        line-height:2.5rem;
    }
    .academias{
       flex-direction: column-reverse;
       gap: 3rem;
    } 

    .uvm > div > img{
        height: 12rem;
    }
    
    .uvm > div > h4{
        font-size: 1.8rem;
    }
    .uvm > div > p{
        font-size: 1.3rem;
        margin-top: -1rem;

    }
    
    .academlo > div > img{
        height: 19rem;
    }
   
    .academlo > div > h4{
        font-size: 1.8rem;
    }
    .academlo > div > p{
        font-size: 1.3rem;
        margin-top: -1rem;
    }
    
    .servicios{
        flex-direction: column;
    }
    
    .service-icon{
      height: 11rem;
      width: 11rem;
      margin-bottom: 2rem;
    }

    .service-icon > svg{
        height: 6rem;
    }
    
    .title-service{
       width: 22rem;
       font-size: 2.2rem;
       margin-bottom: 0.2rem;
        
    }
    
    .service-desc{
        font-size: 1.7rem;
    }
    
    .portfolio{
        height: fit-content;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1rem;
        overflow: scroll;
    }
    
    .trabajos{
        height: 21rem;
    }

    .trabajos > div > img{
        height: 18rem;
    }
    
    .contactame{
        height: fit-content;
        flex-direction: column;
        align-items: center;
    }
    
    .contacta{
      margin-bottom: 0;
      height: 16rem;
      width: 15rem;
    }

    .contacta > div > svg{
        height: 6rem;
    }
    
    
    .title-contact{
        margin-top: -1rem;
        font-size: 1.5rem;
    }
    
    .subtitle-contact{
        margin-top: -2rem;
       font-size: 1.2rem;
    }
    
    .pie-web{
       width: 35rem;
       margin: 5rem auto;
    }
    
    .pie{
        font-size: 1.6rem;
        
    }
}

